@font-face {
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  font-weight: 100;
  src: url("./../fonts/yekan-bakh/YekanBakhFaNum-thin.woff") format("woff");
}

@font-face {
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  font-weight: 300;
  src: url("./../fonts/yekan-bakh/YekanBakhFaNum-Light.woff") format("woff");
}

@font-face {
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  font-weight: normal;
  src: url("./../fonts/yekan-bakh/YekanBakhFaNum-Regular.woff") format("woff");
}

@font-face {
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  font-weight: 600;
  src: url("./../fonts/yekan-bakh/YekanBakhFaNum-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  font-weight: bold;
  src: url("./../fonts/yekan-bakh/YekanBakhFaNum-Bold.woff") format("woff");
}

@font-face {
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  font-weight: 800;
  src: url("./../fonts/yekan-bakh/Yekan Bakh FaNum-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  font-weight: 900;
  src: url("./../fonts/yekan-bakh/Yekan Bakh FaNum-Black.woff") format("woff");
}

@font-face {
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  font-weight: 950;
  src: url("./../fonts/yekan-bakh/Yekan Bakh FaNum-ExtraBlack.woff") format("woff");
}
