@font-face {
  font-family: "icomoon";
  src: url("./../fonts/icon/icomoon.woff?ybb4qr") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  vertical-align: middle;
}

.icon-copy:before {
  content: "\e93b";
}
.icon-back-square:before {
  content: "\e93a";
}
.icon-more:before {
  content: "\e931";
}
.icon-chat-2:before {
  content: "\e932";
}
.icon-document-2:before {
  content: "\e933";
}
.icon-link:before {
  content: "\e934";
}
.icon-send:before {
  content: "\e935";
}
.icon-email-2:before {
  content: "\e930";
}
.icon-upload:before {
  content: "\e92f";
}
.icon-calendar-2:before {
  content: "\e92e";
}
.icon-box:before {
  content: "\e921";
}
.icon-chat:before {
  content: "\e922";
}
.icon-clock:before {
  content: "\e923";
}
.icon-comment:before {
  content: "\e924";
}
.icon-email:before {
  content: "\e925";
}
.icon-eye1:before {
  content: "\e926";
}
.icon-fire:before {
  content: "\e927";
}
.icon-grid-2:before {
  content: "\e928";
}
.icon-location-check:before {
  content: "\e929";
}
.icon-login:before {
  content: "\e92a";
}
.icon-notification:before {
  content: "\e92b";
}
.icon-shopping-cart:before {
  content: "\e92c";
}
.icon-ticket:before {
  content: "\e92d";
}
.icon-battery:before {
  content: "\e919";
}
.icon-calendar-minmus:before {
  content: "\e91a";
}
.icon-calendar-plus:before {
  content: "\e91b";
}
.icon-grid:before {
  content: "\e91c";
}
.icon-location-2:before {
  content: "\e91d";
}
.icon-ques-circle:before {
  content: "\e91e";
}
.icon-share:before {
  content: "\e91f";
}
.icon-shopping-basket:before {
  content: "\e920";
}
.icon-qute-up:before {
  content: "\e913";
}
.icon-calendar:before {
  content: "\e915";
}
.icon-document:before {
  content: "\e916";
}
.icon-folder:before {
  content: "\e917";
}
.icon-watch:before {
  content: "\e918";
}
.icon-arrow-left-circle:before {
  content: "\e90f";
}
.icon-check:before {
  content: "\e910";
}
.icon-location:before {
  content: "\e911";
}
.icon-setting:before {
  content: "\e912";
}
.icon-arrow-left:before {
  content: "\e90e";
}
.icon-lock:before {
  content: "\e936";
}
.icon-mobile:before {
  content: "\e937";
}
.icon-close:before {
  content: "\e90d";
}
.icon-angle-down:before {
  content: "\e900";
}
.icon-angle-left:before {
  content: "\e901";
}
.icon-angle-right:before {
  content: "\e902";
}
.icon-angle-up:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-instagram:before {
  content: "\e905";
}
.icon-linkedin:before {
  content: "\e906";
}
.icon-menu:before {
  content: "\e907";
}
.icon-search:before {
  content: "\e908";
}
.icon-search-2:before {
  content: "\e914";
}
.icon-telegram:before {
  content: "\e909";
}
.icon-twitter:before {
  content: "\e90a";
}
.icon-user:before {
  content: "\e90b";
}
.icon-user-2:before {
  content: "\e90c";
}
.icon-eye-off:before {
  content: "\e938";
}
.icon-eye:before {
  content: "\e939";
}
