.modal {
  z-index: 1024;
  opacity: 0;
  visibility: hidden;
  overflow: hidden auto;
  
  &,
  &-backdrop {
    position: fixed;
    @include fix;
  }
  
  &,
  &-backdrop,
  &-content {
    transition: all .3s ease-in-out;
  }
  
  &-backdrop {
    background-color: rgba(#15192A, .4);
    z-index: 1020;
  }
  
  &-dialog {
    min-height: calc(100vh - 16px);
    margin: 8px;
  }
  
  &-content {
    background-color: #fff;
    width: 100%;
    max-width: 911px;
    border-radius: 14px;
    border: 1px solid #E5E5E5;
    padding: 21px 32px 32px;
    transform: translateY(-100px);
  }

  &-title {
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
  }

  &-close {
    width: 25px;
    height: 25px;
    background-color: #FAFBFC;
    border: 1px solid #D9DFE8;
    color: #42526E;
    line-height: 1;
    border-radius: 8px;
  }

  &-heading {
    margin-bottom: 25px;
    padding-bottom: 16px;
    border-bottom: 1px dashed #E5E5E5;
  }

  &.opened {
    opacity: 1;
    visibility: visible;
  }

  &.opened &-content {
    transform: translateY(0px);
  }
}